<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Users</title>
</head>

<body>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Фамилия</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${usersList}">
                <td> <a th:href="@{/users/{id}(id=${user.getId()})}" th:text="${user.getId()}"> </a> </td>
                <td     th:text="${user.getName()}"> </td>
                <td     th:text="${user.getSurname()}"> </td>
                <td> <form th:method="DELETE" th:action="@{/users/{id}/delete(id=${user.getId()})}">
                    <input type="submit" value="Delete">
                </form></td>
                <td> <a th:href="@{/users/{id}/edit(id=${user.getId()})}"> Edit </a></td>
            </tr>
        </tbody>
    </table>
    <br>
    <a th:href="@{/users/new}">Create new user</a>
</body>
</html>